.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: var(--hover); /* Яркий фон при наведении */
  color: #fff; /* Белый цвет текста на фоне при наведении */
}

.raise {
  --color: #fff; /* Насыщенный фиолетовый цвет для основного состояния */
  --hover: #a349d0; /* Яркий фиолетовый для эффекта наведения */
  color: var(--color);
  background: none; /* Прозрачный фон */
  border: 2px solid var(--color); /* Цвет границы совпадает с основным */
  border-radius: 8px; /* Скругление для более мягкого вида */
  transition: 0.25s;
  padding: 1em 2em;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
}

button:hover,
button:focus {
  border-color: var(--hover);
}
