/* Task Section */
.task-section {
  background: linear-gradient(
    180deg,
    #e9e7e4 0%,
    #cdccc8 100%
  ); /* Светло-серый фон для лучшей визуальной четкости */
  margin: 0px 0px 0px 20px;
  padding: 20px;
  border-radius: 8px;
  flex-grow: 1;
  color: #333;
}

/* Task List */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Task Container */
.task {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f9fbff; /* Светло-голубой фон для мягкого и светлого отображения */
  padding: 15px;
  margin-bottom: 8px;
  border-radius: 8px;
  color: #333333;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения задачи */
}

.task:hover {
  background-color: #e3e9f7; /* Легкое изменение фона при наведении */
}

/* Priority Indicator (Left Border) */
.high-priority {
  border-left: 4px solid #ff4c4c; /* Красный для высокого приоритета */
}

.medium-priority {
  border-left: 4px solid #ffa500; /* Оранжевый для среднего приоритета */
}

.low-priority {
  border-left: 4px solid #32cd32; /* Зеленый для низкого приоритета */
}

/* Checkbox */
.task-checkbox {
  appearance: none;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border: 2px solid #9417e1;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.3s;
}

.task-checkbox:checked {
  background-color: #9417e1;
  border-color: #9417e1;
}

.task-checkbox:checked::after {
  content: '✔';
  font-size: 14px;
  color: #ffffff;
  position: absolute;
}

.task-checkbox:checked + .task-content .task-title {
  color: #a1a1a1;
  text-decoration: line-through;
  font-style: italic;
  transition: color 0.3s;
}

/* Task Content */
.task-content {
  flex-grow: 1;
}

/* Collapsed State */
.task-collapsed {
  display: flex;
  flex-direction: column;
}

.task-collapsed .task-title {
  font-weight: bold;
  font-size: 16px;
  color: #333333; /* Темный цвет для лучшей читабельности */
}

.task-meta {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 14px;
  color: #6b6b6b; /* Серый цвет для менее значимых мета данных */
  margin-top: 3px;
}

.task-meta .task-date,
.task-meta .task-category {
  font-weight: bold;
  color: #333333; /* Более темный цвет для выделения */
  background-color: #e0e7ff; /* Легкий светло-фиолетовый фон для акцента */
  padding: 3px 6px;
  border-radius: 4px;
}

/* Task Creation Date */
.task-meta .task-creation-date {
  color: #4b8df8; /* Голубой цвет для акцента на дате создания */
  font-weight: bold;
}

/* Icon for Task Category */
.task-category::before {
  content: '📁 '; /* Иконка перед категорией */
  font-size: 16px;
  color: #ffb400;
  margin-right: 5px;
}

.task-date::before {
  content: '🗓️ '; /* Иконка перед датой окончания */
  font-size: 16px;
  color: #4b8df8;
  margin-right: 5px;
}

/* General Meta Info */
.task-meta span {
  padding: 3px 6px;
  border-radius: 4px;
}

/* Expanded State */
.task-expanded {
  display: none;
  flex-direction: column;
}

.task-meta span {
  margin-top: 10px;
  font-weight: bold;
  color: #333333; /* Темный цвет для текста */
  background-color: #e0e7ff; /* Светлый фон для акцента */
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.task.details-visible .task-collapsed {
  display: none;
}

.task.details-visible .task-expanded {
  display: flex;
}

/* Task Title */
.task-title {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

/* Task Description */
.task-description {
  font-size: 14px;
  color: #5a5a5a;
  margin-top: 8px;
}

/* Редактирование задачи */
.task-edit {
  font-size: 30px;
  color: #4caf50; /* Зеленый цвет для иконки редактирования */
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.task-edit:hover {
  color: #66bb6a; /* Светло-зеленый цвет при наведении */
  transform: scale(1.1);
}

/* Star Icon */
.task-star {
  font-size: 35px;
  color: #ffc700; /* Ярко-желтая звезда */
  cursor: pointer;
  margin-left: auto;
  transition: color 0.3s ease, transform 0.2s ease;
}

.task-star.active {
  color: #ffd700;
  transform: scale(1.1);
}

/* Удаление задачи */
.task-delete {
  font-size: 30px;
  color: #ff4c4c; /* Красный цвет для иконки удаления */
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.task-delete:hover {
  color: #ff6363;
  transform: scale(1.1);
}

/* Priority Circle Icon */
.priority-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #ff4c4c;
  transition: background-color 0.3s;
}

/* Checkbox Transition */
.task-checkbox:checked + .task-content .task-title {
  color: #bbb;
  text-decoration: line-through;
  font-style: italic;
  transition: color 0.3s;
}
