# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
/media/
/staticfiles/

# Environments
.env
.venv/
venv/

# IDEs
.vscode/
.idea/

# Logs
*.log
*.pot
*.mo

# macOS
.DS_Store

# other
*.md
*.pdf
*.rar
run_venv.bat
.coverage
test_security.py
test_validators.py