{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Plan My Day{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/pop-up.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/button.css' %}" />
    {% block extra_styles %}{% endblock %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <div class="sidebar-space">
          <div class="header-container" id="toggle-sidebar">
            <img
              src="{% static 'main/img/logo.png' %}"
              alt="Logo"
              class="logo-image"
            />
            <div class="logo-text">Plan My Day</div>
          </div>
          <div class="separator"></div>
          <div class="sidebar-item">
            <span class="sidebar-item-icon">&#128197;</span>
            <div class="calendar sidebar-item-text">
              <div id="calendar"></div>
              <div class="separator-calendar"></div>
            </div>
          </div>
        </div>
        <div class="sidebar-space">
          <div class="categories">
            <div class="categories-header">
              <h3>My Calendar Categories</h3>
              <button class="add-category-btn" onclick="addCategory()">
                +
              </button>
            </div>
            <div class="category-list"></div>
          </div>
        </div>
      </aside>
      {% block content %}{% endblock %}
    </div>

    <script src="{% static 'main/js/script.js' %}"></script>
    <script src="{% static 'main/js/controllers/authStatus.js' %}"></script>
    <script src="{% static 'main/js/calendar.js' %}"></script>
    <script src="{% static 'main/js/pop-up.js' %}"></script>
    <script src="{% static 'main/js/controllers/logout.js' %}" defer></script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
