{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan My Day</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/task-style.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/pop-up.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/button.css' %}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <div class="sidebar-space">
          <div class="header-container" id="toggle-sidebar">
            <img
              src="{% static 'main/img/logo.png' %}"
              alt="Logo"
              class="logo-image"
            />
            <div class="logo-text">Plan My Day</div>
          </div>
          <div class="separator"></div>
          <!-- Calendar -->
          <div class="sidebar-item">
            <span class="sidebar-item-icon">&#128197;</span>
            <!-- Иконка календаря -->
            <div class="calendar sidebar-item-text">
              <div id="calendar"></div>
              <div class="separator-calendar"></div>
            </div>
          </div>
        </div>

        <div class="sidebar-space">
          <div class="categories">
            <div class="categories-header">
              <h3>My Calendar Categories</h3>
              <button class="add-category-btn" onclick="addCategory()">
                +
              </button>
            </div>
            <div class="category-list">
              <!-- Здесь будут динамически добавляться категории -->
            </div>
          </div>
        </div>
      </aside>

      <!-- Main Content -->
      <main class="main-content">
        <!-- Header Section -->
        <header class="header-main">
          <div class="header-right">
            <img
              src="{% static 'main/img/gordon.jpeg' %}"
              alt="User Avatar"
              class="user-avatar"
            />
            <a href="user.html" style="text-decoration: none; color: black"></a>
          </div>
        </header>

        <!-- Title Section -->
        <section class="title-section">
          <div class="title-left">
            <h1>My Day</h1>
            <p
              id="date"
              style="color: #fff; margin-top: 10px; font-weight: 600"
            ></p>
          </div>
          <div class="title-right">
            <button class="raise" onclick="openPopup()">Add Task</button>
          </div>
        </section>

        <!-- Task Section -->
        <section id="task-section" class="task-section">
          <div class="task-list">
            <!-- Tasks -->
          </div>
        </section>
      </main>
    </div>

    <!-- Попап для добавления задачи -->
    <div id="addTaskPopup" class="popup-overlay">
      <div class="popup-content wide">
        <span class="close-btn" onclick="closePopup()">&times;</span>
        <h2>Add New Task</h2>
        <form id="addTaskForm">
          <!-- Task Title -->

          <div class="form-group">
            <label for="task-title">Task Title</label>
            <div class="input-container">
              <span class="icon">&#128196;</span>
              <input
                type="text"
                id="task-title"
                name="title"
                class="input-field"
                placeholder="Enter task title"
                required
              />
            </div>
          </div>

          <!-- Task Description -->
          <div class="form-group">
            <label for="task-description">Description</label>
            <div class="input-container">
              <span class="icon icon-top">&#128221;</span>
              <textarea
                id="task-description"
                name="description"
                placeholder="Add a description"
              ></textarea>
            </div>
          </div>

          <!-- Category -->
          <div class="form-group">
            <label for="task-category">Category</label>
            <div class="input-container">
              <span class="icon">&#128203;</span>
              <select id="category-task" class="input-field" name="category">
                <!-- Здесь категории будут динамически добавляться через JavaScript -->
              </select>
            </div>
          </div>

          <!-- End Date and Time -->
          <div class="form-group">
            <label for="task-end-date">End Date</label>
            <div class="input-container">
              <span class="icon">&#128197;</span>
              <input
                type="date"
                id="task-end-date"
                class="input-field"
                name="due_date"
                required
              />
              <label for="task-end-time">End Time</label>
              <input
                type="time"
                id="task-end-time"
                class="input-field"
                name="due_date"
                required
              />
            </div>
          </div>

          <!-- Task Priority -->
          <div class="form-group">
            <label for="task-priority">Priority</label>
            <div class="input-container">
              <span class="icon">&#128293;</span>
              <select id="task-priority" class="input-field" name="priority">
                <option value="L">Low</option>
                <option value="M">Medium</option>
                <option value="H">High</option>
              </select>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="popup-buttons">
            <button type="button" onclick="closePopup()">Cancel</button>
            <button type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>

    <script src="{% static 'main/js/script.js' %}"></script>
    <script src="{% static 'main/js/calendar.js' %}"></script>
    <script src="{% static 'main/js/pop-up.js' %}"></script>

    <!-- Controllers -->
    <script
      src="{% static 'main/js/controllers/authStatus.js' %}"
      defer
    ></script>
    <script src="{% static 'main/js/controllers/tasks.js' %}" defer></script>
    <script
      src="{% static 'main/js/controllers/taskEvents.js' %}"
      defer
    ></script>
    <script
      src="{% static 'main/js/controllers/deleteTask.js' %}"
      defer
    ></script>
    <script
      src="{% static 'main/js/controllers/categories.js' %}"
      defer
    ></script>
  </body>
</html>
