{% extends "main/base.html" %}{% load static %} {% block title %}Главная - Plan
My Day{% endblock %}{% block extra_styles %}
<link rel="stylesheet" href="{% static 'main/css/task-style.css' %}" />
{% endblock %} {% block content %}
<main class="main-content">
  <header class="header-main">
    <div class="header-right">
      <img
        src="{% static 'main/img/gordon.jpeg' %}"
        alt="User Avatar"
        class="user-avatar"
      />
      <div class="user-menu">
        <a
          href="/auth/profile"
          class="username"
          style="text-decoration: none"
          id="username"
          >&#x25BC;</a
        >
        <div class="dropdown" id="userDropdown">
          <button id="logoutButton">Выйти</button>
        </div>
      </div>
    </div>
  </header>

  <section class="title-section">
    <div class="title-left">
      <h1>My Day</h1>
      <p id="date" style="color: #fff; margin-top: 10px; font-weight: 600"></p>
    </div>
    <div class="title-right">
      <button class="raise" onclick="openAddTaskPopup()">Add Task</button>
    </div>
  </section>
  <section id="task-section" class="task-section">
    <!-- SEARCH AND FILTERS -->
    <section class="filters-and-search">
      <form class="custom-form">
        <h4 class="form-title">Filters and Search</h4>
        <div class="form-content">
          <div class="form-group">
            <label for="search" class="form-label">Search</label>
            <input id="search" type="text" name="search" class="form-input" />
          </div>
          <div class="form-group">
            <label for="status" class="form-label">Status</label>
            <select name="status" id="status" class="form-select">
              <option value="all">All</option>
              <option value="Completed">Completed</option>
              <option value="Not Completed">Not Completed</option>
            </select>
          </div>
          <div class="form-group">
            <label for="priority" class="form-label">Priority</label>
            <select name="priority " id="priority " class="form-select">
              <option value="all">All</option>
              <option value="low-priority">Low-priority</option>
              <option value="medium-priority">Medium-priority</option>
              <option value="high-priority">High-priority</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sort" class="form-label">Sort</label>
            <select name="sort" id="sort" class="form-select">
              <option value="latest">Latest</option>
              <option value="oldest">Oldest</option>
              <option value="a-z">A-Z</option>
              <option value="z-a">Z-A</option>
            </select>
          </div>
          <button class="btn clear-btn">Clear Filters</button>
        </div>
      </form>
    </section>

    <div class="task-list"></div>
    <button id="load-more-btn" class="load-more-btn">Load More</button>
  </section>

  {% include "main/pop-up.html" %}
</main>
{% endblock %} {% block extra_scripts %}
<!-- Controllers -->
<script src="{% static 'main/js/controllers/authStatus.js' %}" defer></script>
<script src="{% static 'main/js/controllers/tasks.js' %}" defer></script>
<script src="{% static 'main/js/controllers/taskEvents.js' %}" defer></script>
<script src="{% static 'main/js/controllers/deleteTask.js' %}" defer></script>
<script
  src="{% static 'main/js/controllers/searchController.js' %}"
  defer
></script>
<script src="{% static 'main/js/controllers/categories.js' %}" defer></script>
{% endblock %}
